


/*=================================== Desktop device  ===================================*/
@media screen and (min-width: 1200px) {
  body {
    background-color: rgb(245, 241, 241);
    margin: 0%;    
    width: 100%;
  }

  /* -----------------Landing Page ---------------*/
  .landingPage {
    background-image: url('/static/img/coke_bg.jpg');
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: 400px;
    padding: 0%;
    overflow-x: hidden;
    

  }

   /*===============   The Landing Page Text As Heading ==========================*/
  .heading {
    margin: 0%;
    padding-top: 120px;
    padding-left: 200px;
    height: auto;
    overflow: hidden;
    

  }

  .heading h3 {
    color: white;
    font-size: 40px;
    margin: 0%;   

  }
  .heading p {
    color: white;
    font-size: 25px;
    margin: 0%; 
    padding-top: 5px;  

  }

  .heading form {
    margin-top: 10px;
    padding-right: 0px;
    padding-top: 2px;
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 42px;
    border-radius: 6px;
    box-shadow:  2px 2px 2px 2px rgba(34, 34, 39, 0.247);
    opacity: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
  }

  .heading form input {
    width: 75% ;
    height: 35px ;
    padding-left: 6%;
    margin-left: 0px;
    border: 0px solid rgb(156, 88, 88);
    font-size: 15px;
    outline: none;
    box-shadow : none;
    flex-wrap: nowrap;
    color: #222;
    font-size: 14px;
     
    
  }

  .heading form button {
    width: 17.5%;
    height: 36px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-right: 4px;

    
    color: white;
    font-size: 15px;
    background-image: -webkit-linear-gradient(right, #f3723b, #e54750);
    border: none;
    border-radius: 6px;
  }

  .heading h5 {
    color: aliceblue;
    margin: 0%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
  }
  strong { font-size: 13px;}

  /*===============   WAVE ANIMATIONS ==========================*/

  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0%;
    width: ;
}
.waveWrapperInner {
    
    width: 200%;
    overflow: hidden;
    height: 10%;
    bottom: -1px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}

 /*===============   WAVE Height adjustments ==========================*/
.wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 28%;
    background-repeat: repeat no-repeat;
    background-position: 0 ;
    transform-origin: center ;
    overflow: hidden;
}

 /*===============   WAVE TOP height Adjustment ==========================*/
.waveTop {
    background-size: 50% 50px;
}
.waveAnimation .waveTop {
  animation: move-wave 1s;
   -webkit-animation: move-wave 10s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}

 /*===============   WAVE Middle height Adjustment ==========================*/
.waveMiddle {
    background-size: 50% 50px;
    width: 100%;
}
.waveAnimation .waveMiddle {
    animation: move_wave 35s linear infinite;
}

 /*===============   WAVE Bottom height Adjustment ==========================*/
.waveBottom {
    background-size: 50% 50px;
}
.waveAnimation .waveBottom {
    animation: move_wave 25s linear infinite;
}

.container {
    margin-top: 2%;
    margin-left: 200px;
    margin-right: 200px;
    width: 70%;
    background-color: #e54750;
    height: auto;
   
}

.card {
  width: 200px !important;
  margin: 10px;
  border: 3px solid #222;
  margin-right: 5vh;
  padding-left: 20px;
  padding-right: 20px;
}

.category {
  background-color: lightblue;
border: 1px solid black;
height: 300px;
width: 878px;
overflow-x: scroll;   
display: flex;
flex-wrap: nowrap;
}

.top {
  display: flex;
flex-wrap: nowrap;

}

.carf {
  width: 150px;
  border: 2px solid violet;
  height: 200px;
}


}






/*======================================================================================== Tablets and Ipads ===================================*/
@media screen and (max-width: 1200px) {
    body {
        background-color: rgb(245, 241, 241);
        margin: 0%;    
        width: 100%;
      }
    
      /* -----------------Landing Page ---------------*/
      .landingPage {
        background-image: url('/static/img/coke_bg.jpg');
        background-size: cover;
        background-position: cover;
        width: 100%;
        height: 400px;
        padding: 0%;
        overflow-x: hidden;
        
    
      }
    
       /*===============   The Landing Page Text As Heading ==========================*/
      .heading {
        margin: 0%;
        padding-top: 120px;
        padding-left: 70px;
        height: auto;
        overflow: hidden;
        
    
      }
    
      .heading h3 {
        color: white;
        font-size: 35px;
        margin: 0%;   
    
      }
      .heading p {
        color: white;
        font-size: 20px;
        margin: 0%; 
        padding-top: 5px;  
    
      }
    
      .heading form {
        margin-top: 10px;
        padding-right: 0px;
        padding-top: 2px;
        background-color: rgb(255, 255, 255);
        width: 50%;
        height: 42px;
        border-radius: 6px;
        box-shadow:  2px 2px 2px 2px rgb(34, 34, 39);
        opacity: 1;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
      }
    
      .heading form input {
        width: 75% ;
        height: 35px ;
        padding-left: 6%;
        margin-left: 0px;
        border: 0px solid rgb(156, 88, 88);
        font-size: 15px;
        outline: none;
        box-shadow : none;
        flex-wrap: nowrap;
        color: #222;
        font-size: 14px;
         
        
      }
    
      .heading form button {
        width: 17.5%;
        height: 36px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding-right: 4px;
    
        
        color: white;
        font-size: 15px;
        background-image: -webkit-linear-gradient(right, #f3723b, #e54750);
        border: none;
        border-radius: 6px;
      }
    
      /*===============   WAVE ANIMATIONS ==========================*/
    
      @keyframes move_wave {
        0% {
            transform: translateX(0) translateZ(0) scaleY(1)
        }
        50% {
            transform: translateX(-25%) translateZ(0) scaleY(0.55)
        }
        100% {
            transform: translateX(-50%) translateZ(0) scaleY(1)
        }
    }
    .waveWrapper {
        overflow: hidden;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: 0%;
        
    }
    .waveWrapperInner {
        
        width: 200%;
        overflow: hidden;
        height: 10%;
        bottom: -1px;
    }
    .bgTop {
        z-index: 15;
        opacity: 0.5;
    }
    .bgMiddle {
        z-index: 10;
        opacity: 0.75;
    }
    .bgBottom {
        z-index: 5;
    }
    
     /*===============   WAVE Height adjustments ==========================*/
    .wave {
        position: absolute;
        left: 0;
        width: 100%;
        height: 28%;
        background-repeat: repeat no-repeat;
        background-position: 0 ;
        transform-origin: center ;
        overflow: hidden;
    }
    
     /*===============   WAVE TOP height Adjustment ==========================*/
    .waveTop {
        background-size: 50% 50px;
    }
    .waveAnimation .waveTop {
      animation: move-wave 1s;
       -webkit-animation: move-wave 10s;
       -webkit-animation-delay: 1s;
       animation-delay: 1s;
    }
    
     /*===============   WAVE Middle height Adjustment ==========================*/
    .waveMiddle {
        background-size: 50% 50px;
        width: 100%;
    }
    .waveAnimation .waveMiddle {
        animation: move_wave 35s linear infinite;
    }
    
     /*===============   WAVE Bottom height Adjustment ==========================*/
    .waveBottom {
        background-size: 50% 50px;
    }
    .waveAnimation .waveBottom {
        animation: move_wave 25s linear infinite;
    }

    .heading h5 {
      color: aliceblue;
      margin: 0%;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 100;
    }
    strong { font-size: 13px;}
  
    
    .container {
        margin-top: 2%;
        margin-left: 70px;
        margin-right: 70px;
        background-color: #e54750;
        height: auto;
    }


}







/*==================================================================================== Mobile Phones ===================================*/
@media screen and (max-width: 480px) {
  body {
    background-color: rgb(245, 241, 241);
    margin: 0%;    
    width: 100%;
  }

  /* -----------------Landing Page ---------------*/
  .landingPage {
    background-image: url('/static/img/coke_bg.jpg');
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    overflow-x: hidden;
    

  }

   /*===============   The Landing Page Text As Heading ==========================*/
  .heading {
    margin: 0%;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    overflow: hidden;
    text-align: center;
    

  }

  .heading h3 {
    color: white;
    font-size: 36px;
    margin: 0%;  
    padding-left: 15px;
    padding-right: 15px; 

  }
  .heading p {
    color: white;
    font-size: 21px;
    margin: 0%; 
    padding-top: 5px;  

  }

  .heading form {
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 12px;
    width: 95%;
    height: auto;
    border-radius: 6px;
    box-shadow:  2px 2px 2px 2px rgba(34, 34, 39, 0.247);
    opacity: 1 ;
    background-color: rgba(176, 176, 176, 0);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .heading form input {
    width: 100% ;
    height: 35px ;
    padding-left: 6%;
    margin-left: 0px;
    margin-bottom: 10px;
    border: 0px solid rgb(156, 88, 88);
    font-size: 15px;
    outline: none;
    box-shadow : none;
    flex-wrap: wrap;
    color: #222;
    font-size: 14px;
     background-color: white;
    
  }

  .heading form button {
    width: 100%;
    height: 36px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-right: 4px;
    flex-wrap: wrap;

    
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-image: -webkit-linear-gradient(right, #f3723b, #e54750);
    border: none;
    border-radius: 6px;
  }

  .heading h5 {
    color: aliceblue;
    margin: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 100;
  }
  strong { font-size: 13px;}

  .container {
    margin-left: 15px;
    margin-right: 15px;

  }

}